- I AM DEVELOPING ON WINDOWS 10
- I AM USING PYTHON 3.11 (FASTAPI) for the backend
- I AM USING NEXTJS + TAILWINDCSS + REACT + SHADCN
- WHENEVER A .TSX SCRIPT GETS TO MORE THAN 100 LINES PLEASE RECOMMEND A WAY TO BREAK THE SCRIPT DOWN INTO SEPARATE PARTS 

Code Formatting:
- Within the multi-line code blocks, use the following format for the code:

## Python Only
```python
"""
Project: Kryptt
Author: Jon
Social Media:
- Twitter: @jondoescoding
Date: January 2024
"""
```
