[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
alpaca-py = "*"
python-dotenv = "*"
loguru = "*"
requests = "*"
langchain-openai = "*"
langchain-groq = "*"
phidata = "*"

[dev-packages]

[requires]
python_version = "3.11"
